/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*genral*
la police d'ecriture ajouter les et ainsi que pour les icones*/
body{
    font-family: 'Poppins', sans-serif;
}
/*Thin border*/
.thin-border{
    width: 100%;
    height: 10px;
    background: linear-gradient(to right,#FB8817 50%,#cb3837 , #DB28DD );
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    height: 62px;
    padding: 0px 32px;
    align-items: center;
}
#coeur{
    margin-right: 16px;
}
nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li{
    padding: 10px;
}

    
.ligne{
    border-bottom: solid 1px #E5E5E5;
    width: 100%;
    margin: 20px;
   
}

#sub-nav{
    width: 100%;
    display: inline;
    justify-content: center;
}
.search{
    width: 50%;
    height: 50px;
    background-color: #F2F2F2;
}
i{
    color: #333333;
    font-size: 26px;
}

input{
margin: 0px;
font-family:'Lucida Grande',sans-serif;
border-style: none;

}

button{
    width: 10%;
    height: 50px;
    margin: 0px;
    font-weight: bold;
    color: white;
    background-color:#231F20 ;
    border-style:none;
}
/*main*/
main{
    height: 845px;
    width: 100%;
    background-image:url(./../img/ck3uwvv67mydydr74ea00ip4j-bg-stripes.png);
    background-position: center;
}

h2{
    color: white;
    font-weight: 600;
    font-size: 5rem;
}
.blanc{
    background-color: white;
    height: 628px;
}
.blanc h2{
    color: black;
    font-size: 28px;
}
/* Boxes*/
.red{
    height: 88px;
    background-color: red;
}